<div>
  <h2>
    <span class="roboto">Angular issues on GitHub</span>
  </h2>
  <div class="row"></div>
  <br/>
  <div class="table-responsive" *ngIf="issues">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="roboto">#</th>
          <th scope="col" class="roboto">Title</th>
          <th scope="col" class="roboto">URL</th>
          <th scope="col" class="roboto">Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issues">
          <th scope="row" class="roboto">{{issue.id}}</th>
          <td scope="row" class="roboto">{{issue.title}}</td>
          <td scope="row" class="roboto"><a href="{{issue.URL}}">Go to issue</a></td>
          <td scope="row" class="roboto">{{issue.created_at | date : "MM.dd.yyyy HH:mm"}}</td>
        </tr>
    </table>
  </div>
</div>